    *{
				margin: 0;
			}
			.title{
				width:100vw;
				height: 10vh;
				background: black;
				opacity: 0.7;
				padding: 0;
			}
			.title li{
				margin-top: 3vh;
				width: 14vw;
				float: left;
				list-style: none;
				text-align: center;
				
				
			}
			.title li a{
				text-decoration: none;
				color: white;
			}